// Home Page
.home-services .services-grid {
  grid-template-columns: repeat(6, 1fr);
  gap: 1.25rem;

  @media (max-width: 991px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 575px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
